.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class
*test*
*.epub
*.txt
audiobooks/
_temp/
*.wav
*.m4b
*.mp3
tmp/
voices-v1.0.bin
kokoro-v1.0.onnx
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
